<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <img routerLink="" src="https://i.postimg.cc/WpFkT5Wq/infospica-consultancy-services.jpg"  width="30px" height="30px" alt="">
      <a routerLink="" class="navbar-brand">Infospica</a>
      <form class="d-flex">
        <input style="width:200px ;" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button style="width: 100px;" routerLink="add-user"  class="btn btn-success"  >Add User</button>
       
      </form>
    </div>
  </nav>